@model RCS_Data.ERROR_MSG
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ErrorPage">
    @(Model.description)<br />
    [發生時間]：@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")<br />
</div>
<script type="text/template">
</script>