<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCS</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/antd/antd.css" />
    <link href="~/Components/static/css/app.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <rcs-login></rcs-login>
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/js")
    <script src="~/scripts/Vue/polyfill.min.js"></script>
    <script src="~/scripts/antd/antd.min.js"></script>
    <script src="~/Components/static/js/manifest.js"></script>
    <script src="~/Components/static/js/vendor.js"></script>
    <script src="~/Components/static/js/app.js"></script>
    <script>
        Vue.prototype.$http = axios.create({
            baseURL: '~',
            timeout: 10000,
            headers: {
                'Access-Control-Allow-Origin': '*'
            }
        });
        Vue.use(antd);
        var ComponentLibrary = {};//建立component
        new Vue({
            el: '#app'
        })
    </script>
</body>
</html>