<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCS UIMaya</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/antd/antd.css" />
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/js")
    @RenderSection("Script", required: true)
</body>
</html>